.bio-sec-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222831;
    padding: 100px 0px 50px 0px;
    color: #EEEEEE;
}
.bio-div-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bio-wrapper{
    width: 70%;
    display: flex;
}
.bio-wrapper img{
    margin-left: 50px;
}
.bio-wrapper h2{
    font-weight: 900;
    font-size: 40px;
}
.more-about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 50px;
}
.more-about-me h2{
    font-weight: 900;
    font-size: 40px;
}


.about-me-btn{
    margin-top: 50px;
}
.button:nth-child(1),.button:nth-child(2){
    margin-right: 50px;
}
.button {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #848993;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  z-index: 0;
}

.button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button:after {
  background-color: #FFFFFF;
}
.lottie-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me-lottie{
    width: 4500px;
}
.about-me-lottie2{
    width: 500px
}
.button span {
  z-index: 1;
  position: relative;
}

@media(max-width: 640px) {   
    .bio-sec-wrapper,.bio-div-wrapper,.bio-wrapper,.more-about-me{
        flex-direction: column;
    }
    .my-background h2,.more-about-me h2{
        font-size: 20px;
        text-align: center;
    }
    .my-background p,.more-about-me p{
        font-size: 12px;
    }
    .bio-div-wrapper{
        max-width: 100vw;
    }
    .bio-wrapper img {
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
    }
    .about-me-lottie{
        width: 100%;
    }
    .about-me-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .about-me-btn a{
        width: 200px;
    }
    .button:nth-child(1),.button:nth-child(2),.button:nth-child(3) {
        margin-right: 0;
        margin-top: 20px;
    }
    .bio-wrapper h2{
        text-align: center;
    }
    .about-me-lottie2{
        width: 400px;
    }

    }  


    @media(max-width: 1100px) {   
        .bio-sec-wrapper,.bio-div-wrapper,.bio-wrapper,.more-about-me{
            flex-direction: column;
        }
        .about-me-lottie{
            width: 100%;
        }
        @media (max-width: 1300px) {
        }
           .about-me-btn{
            display: flex;
            flex-direction: column;
           }
           .button:nth-child(1),.button:nth-child(2), .button:nth-child(3) {
            margin-right: 0px;
            margin-top: 10px;
        }
        .my-background p,.my-background h2{
            text-align: center;
        }
        .more-about-me h2,.more-about-me p {
           text-align: center;
        }
    }