.menu{
    position: absolute;
    right: 130px;
    top: 90px;
    width: 30rem;
    height: 20rem;
    background-color: rgb(34, 34, 34);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.96;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu a:hover{
    text-decoration: underline;
    color: rgb(197, 197, 197);
}
.overlay{
    display: none;
}

@media (max-width: 640px) {   
    .menu{
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 2;

    }
    .menu a {
        font-size: 20px;
    }
    .menu span{
        width: 100%;
    }

    .no-scroll {
        overflow: hidden;
    }
    }  