.strip{
    height: 20vh;
    background-color: #222831;
    color: #EEEEEE;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
#tech-strip{
    justify-content: space-around;
}
.strip div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

@media (orientation: portrait) and (max-width: 970px) {   
    .strip{
        height: 100%;
    }
    .strip div {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}  